{% extends 'base.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
<h2>Create a new user</h2>

<form action="" method="POST">
    <label for="first_name">First Name</label><br>
    <input type="text" id="first_name" name="first_name" placeholder="Enter a first name" required><br><br>
    <label for="last_name">Last Name</label><br>
    <input type="text" id="last_name" name="last_name" placeholder="Enter a last name" required><br><br>
    <label for="first_name">Image URL</label><br>
    <input type="text" id="image_url" name="image_url" placeholder="Provide an image"><br><br>
    <button type="submit">Add</button>
</form>
{% endblock %}